@model WebApplication2.Groups

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Groups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Groupname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Groupname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLessons)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfLessons)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.InstructorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schedule.ScheduleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
