@model WebApplication2.Visitor

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Visitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SurnameV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SurnameV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Abonement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Abonement.AbonementId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.GroupId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VisitorId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
