@model WebApplication2.Visitor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SurnameV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SurnameV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Abonement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Abonement.AbonementId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.GroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VisitorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
