@model IEnumerable<WebApplication2.Visitor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurnameV)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Abonement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurnameV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abonement.AbonementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisitorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
